{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-4">
            <h1 class="col-6">{{ program.title }}</h1>
            <div class="col-2 offset-2">
                <form action="{{ path('program_edit', {'slug': program.slug}) }}">
                    <button type="submit" class="btn btn-primary">Editez moi!</button>
                </form>
            </div>

            <div class="col-2">
                {{ include('program/_delete_form.html.twig') }}
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <img src="{{ program.poster }}" class="img-thumbnail">
            </div>

            <div class="col-8">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ program.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ program.title }}</td>
                    </tr>
                    <tr>
                        <th>Summary</th>
                        <td>{{ program.summary }}</td>
                    </tr>
                    </tbody>
                </table>
                <strong>Acteur :</strong>
                <ul>
                    {% for actor in program.actors %}
                        <li><a href="{{ path('actor_show', {'slug': actor.slug }) }}">{{ actor.name }}</a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <strong class="m-4">Accéder aux différentes saisons de {{ program.title }}:</strong>

            <ul class="list-group bg-primary">
                {% for season in program.seasons %}
                    <li class="list-group-item" ><a href="{{ path('season_show', {'slug': season.slug }) }}"> Saison :{{ season.year }}</a>
                        :{{ season.description }}</li>
                {% else %}
                    <li>Aucun saisons pour cette série</li>
                {% endfor %}
            </ul>
        </div>
    </div>



{% endblock %}
