{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Program</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ program.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ program.title }}</td>
                </tr>
                <tr>
                    <th>Summary</th>
                    <td>{{ program.summary }}</td>
                </tr>
                <tr>
                    <th>Poster</th>
                    <td>{{ program.poster }}</td>
                </tr>
                </tbody>
            </table>

            <div>
                <strong>Acteur :</strong>
                <ul>
                    {% for actor in program.actors %}
                        <li><a href="{{ path('actor_show', {'slug': actor.slug }) }}">{{ actor.name }}</a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <strong>Season :</strong>

                <ul>
                    {% for season in program.seasons %}
                        <li><a href="{{ path('season_show', {'slug': season.slug }) }}">{{ season.year }}</a>
                            :{{ season.description }}</li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <a href="{{ path('program_edit', {'slug': program.slug}) }}" class="btn btn-primary stretched-link">edit</a>
    </div>
    <div class="container mt-4">
        {{ include('program/_delete_form.html.twig') }}
    </div>
{% endblock %}
