{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les 3 dernieres series de la catégorie :{{ category }} </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}


{% endblock %}
