<nav class="navbar navbar-expand-lg  bg-primary navStyle ">
    <a class="navbar-brand wildTitle text-white" href="{{ path('program_index') }}">Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-warning"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/wild/category/horreur">horreur</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="{{ path('program_index') }}">All Programs<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="{{ path('season_index') }}">All Seasons<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="{{ path('episode_index') }}">All Episodes<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="{{ path('actor_index') }}">All Actors<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        {% if app.user %}
            {{ app.user.username }}
            <button class="btn btn-secondary"><a class="text-white" href="{{ path('app_logout') }}"> Se déconnecter</a></button>
        {% else %}
            <button class="btn btn-secondary"><a class="text-white" href="{{ path('app_login') }}"> Se connecter</a></button>
        {% endif %}
    </div>
</nav>